In [1]:
# Import dependencies and libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Investigate the structure of each dataset
# Handle missing values, duplicates, and any inconsistencies
# Standardize column names if needed
# Ensure compatibility of data types

In [30]:
# Load datasets into pandas dataframes
csv_path = "Resources/abs_stats.csv"
gender_region_df = pd.read_csv(csv_path)

csv_path2 = "Resources/life_expectancy_data.csv"
life_expect_df = pd.read_csv(csv_path2)

In [31]:
life_expect_df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [29]:
# Task (Aleksandra): Filter and analyze data related to gender and life expectancy
gender_region_df.dropna()
gender_region_df
# Perform analysis and visualize the relationship

,Region,Males - 16-18,Females 16-18,Persons - 16-18,Males - 17-19,Females - 17-19,Persons - 17-19,Males - 18-20,Females - 18-20,Persons - 18-20
0,NEW SOUTH WALES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Central Coast,79.2,83.8,81.4,79.2,83.6,81.4,79.1,84.3,81.7
2,Sydney - Baulkham Hills and Hawkesbury,84.6,87.5,86.0,84.6,87.7,86.1,85.0,88.1,86.5
3,Sydney - Blacktown,80.8,84.7,82.7,81.2,84.6,82.8,81.7,84.9,83.3
4,Sydney - City and Inner South,81.2,86.3,83.7,81.3,86.3,83.7,81.7,86.3,84.0
...,...,...,...,...,...,...,...,...,...,...
115,AUSTRALIAN CAPITAL TERRITORY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Australian Capital Territory,81.2,85.3,83.2,81.6,85.6,83.5,82.1,85.9,84.0
117,Total Australian Capital Territory,81.2,85.3,83.2,81.6,85.6,83.5,82.1,85.9,84.0
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Australia,80.7,84.9,82.8,80.9,85.0,82.9,81.2,85.3,83.2

In [ ]:
# Task (Rachel): Filter and analyze data related to health expenditure and life expectancy

# Perform analysis and visualize the relationship

In [ ]:
# Task (Shawn) Filter and analyze data related to residency location and life expectancy

# Perform analysis and visualize the relationship

In [ ]:
# Task (Cristian): Filter and analyze data related to income and life expectancy

# Perform analysis and visualize the relationship

In [ ]:
# Use Matplotlib, or any other preferred library for visualization
# Create relevant plots for each research question

In [ ]:
# Calculate median/average values for relevant columns

# Repeat for other relevant columns

In [ ]:
# Share insights based on visualizations and summary statistics
# Discuss preliminary findings with the team

In [ ]:
# Write a comprehensive report with key insights
# Discuss potential implications of the findings on life expectancy

In [ ]:
# Use Markdown cells for documentation in Jupyter Notebook
# Create visualizations and insights for the presentation